.user-about{
    font-size: 1.75vw;
}

.watch-history{
    outline: var(--orange-light) solid;
    padding: 10px;
}

.recommendations-movs{
    /* outline: var(--peach-light) solid; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.recommendations-title{
    text-align: center;
    padding: 3px;
}
.recommendations-poster{
    height: auto;
    width: 15vw;
    border-radius: 5px;
}
.recommendations-poster:hover{
    transform: scale(1.01);
}

.user-about{
    outline: var(--orange-light) solid;
    margin: 0;
    padding: 5px;
}
.user-dashboard{
    outline: var(--orange-light) solid;
    margin: 0;
    padding: 5px;
}
