form.cc-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.cc-form-field{
    /* display: flex;
    direction: row;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 70%;
}

.cc-form-button{
    background-color: var(--peach-light);
    border-radius: 15px;
    padding:10px 50px ;
    font-weight: bold;
}

.cc-form-button:hover{
    transform: scale(1.05);
    background-color: #c29587;
}

.cc-form-field>input {
    border-radius: 15px;
    /* border-bottom-left-radius: 15px; */
    height: 30px;
}

.rating-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}

.rating-form-button{
    background-color: var(--peach-light);
    border-radius: 15px;
    padding:10px 50px ;
    font-weight: bold;
}
.rating-form-button:hover{
    transform: scale(1.05);
    background-color: #c29587;
}


.index-button{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.button{
    background-color: var(--peach-light);
    border-radius: 15px;
    padding:10px 50px ;
}
.button:hover{
    transform: scale(1.05);
    background-color: #c29587;
}