
main{
    padding: 10px;
    margin-top: var(--nav-bar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 7px
    /* outline: 2px red solid; */
}

h1{
    text-align: center;
}

.movie-poster{
    height: auto; 
    width: 25vw;
    border-radius: 5px;
}
.movie-genres{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.movie-genres >*{
    background-color: var(--orange-dark);
    color: var(--green-light);
    border-radius: 10px;
    font-size: medium;
    padding: 5px;
}

img{
    height: 500px;
    width: auto;
}