.search-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-box-field{
    /* outline: red solid; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 300px;
    height: 30px;
}
.search-box-button{
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}
.search-results{
    display: flex;
    flex-wrap: wrap;
}
.search-results-mov{
    /* outline: var(--peach-light) solid; */
    display: flex;
    flex-direction: column;
}

.search-results-title{
    text-align: center;
    padding: 3px;
}
.search-results-poster{
    height: auto;
    width: 15vw;
    border-radius: 5px;
}
.search-results-mov:hover{
    transform: scale(1.01);
}