{% extends 'base.html' %}

{% block css %}dashboard.css{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block navbar_icons %}
    <a href ='/search_movies'>
        <svg class="navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
    </a>
    <a href ='/view_db''>
        <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H8V4h12v12zM12 5.5v9l6-4.5z"/></svg> 
    </a>
    <!-- <a href ='/login'>
        <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></g></svg>
    </a> -->
    <a href = "/logout" id = "logout">
        <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M17,8l-1.41,1.41L17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4L17,8z M5,5h7V3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h7v-2H5V5z"/></g></svg>
    </a>
{% endblock %}

{% block main %}
    <h1 class = "username">@{{user.nickname}}</h1>
    <section class = "user-about">
        <p>Hi {{user.name}}, How've you been!</p>
        <p>{{user.bio}}</p>
    </section>
    <section class = "watch-history">
        <h2>Your watch history</h2>
        <ul>
            {% for mr in rated_movies%} 
            <li>{{mr['title']}} :
                {% for i in range(mr['rating'])%}
                    ⭐
                {%endfor%}
            </li>
            {%endfor%}
        </ul>
    </section>
    
    <section class="user-dashboard">
        <h2>Your recommendations!</h2>
        {% if recommendations|length == 0 %}
            <p>watch some movies and be sure to rate them :)</p>
        {% else %}
            <em>These are your recommendations, Should you choose to accept them!</em>
            <div class = "recommendations-movs">
                {% for movie in recommendations %}
                    <a class="recommendations-title" href = "/movie_details/{{movie.id}}">
                        <img class="recommendations-poster" src = "{{poster_paths[loop.index - 1]}}">
                    </a>
            {%endfor%}
            </div>
        {% endif %}
    </section>

    <section id="user-playlist">
        <h2>Your Playlists</h2>
        <form action = "/add_playlist" method = "POST">
            <label for = "playlist-name" >Add new playlist</label>
            <input type = "text" name = "playlist-name">
            <button>Add</button>
        </form>
        {% if playlists|length == 0 %} 
            <em> Create some playlists</em>
        {% else %}
            {%for playlist in playlists%}
            <div class = "playlist">
                <h3>{{playlist['name']}}</h3>
                <ul>
                    {%for movie in playlist['movies']%}
                    <li>{{movie}}</li>
                    {%endfor%}
                </ul>
            </div>
            {%endfor%}
        {% endif %}
    </section>
{% endblock %}