<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "nav-bar">
        <div id = "logo">logo to be inserted</div>
        <div id = "app-name">Recommender System</div>
        <div id = "nav-buttons">navigation buttons will go here</div>
    </div>
    <h1> Project Name</h1>
    <div class = "main">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Nibh mauris cursus mattis molestie a iaculis at erat pellentesque. 
        Libero nunc consequat interdum varius. Diam vulputate ut pharetra sit amet. 
        Sodales ut etiam sit amet. Pharetra diam sit amet nisl suscipit. 
        Vel pretium lectus quam id leo in vitae turpis. Ut porttitor leo a diam. 
        Duis at tellus at urna. In eu mi bibendum neque egestas congue quisque egestas. 
        Nec ullamcorper sit amet risus nullam eget. Enim tortor at auctor urna nunc.
        <br>
        Urna molestie at elementum eu facilisis sed odio. 
        Tellus id interdum velit laoreet id donec ultrices tincidunt arcu. 
        Id velit ut tortor pretium viverra. Blandit cursus risus at ultrices mi. 
        Egestas quis ipsum suspendisse ultrices gravida. 
        Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. 
        Consectetur a erat nam at lectus urna duis convallis convallis. 
        Varius quam quisque id diam. Ac turpis egestas integer eget. 
        Pharetra et ultrices neque ornare aenean euismod elementum nisi. 
        A pellentesque sit amet porttitor eget dolor.
    </div>
    
    <div class = "footer">
        orci <br>
        sagittis <br>
        eu<br>
        volutpat <br>
        odio
    </div>
</body>
</html>