<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/signup.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class = "navbar-logo-title">
            <a href = "/">
                <svg xmlns="http://www.w3.org/2000/svg" class="navbar-logo" height="55" width="48"><path d="M18.3 22.1 16.6 26 12.7 27.7 16.6 29.4 18.3 33.3 20 29.4 23.9 27.7 20 26ZM31.6 21.5 30.35 24.2 27.65 25.45 30.35 26.7 31.6 29.4 32.85 26.7 35.55 25.45 32.85 24.2ZM7 8 10.7 15.6H17.2L13.5 8H17.95L21.65 15.6H28.15L24.45 8H28.9L32.6 15.6H39.1L35.4 8H41Q42.2 8 43.1 8.9Q44 9.8 44 11V37Q44 38.2 43.1 39.1Q42.2 40 41 40H7Q5.8 40 4.9 39.1Q4 38.2 4 37V11Q4 9.8 4.9 8.9Q5.8 8 7 8ZM7 18.6V37Q7 37 7 37Q7 37 7 37H41Q41 37 41 37Q41 37 41 37V18.6ZM7 18.6V37Q7 37 7 37Q7 37 7 37Q7 37 7 37Q7 37 7 37Z"/></svg>
            </a>
            <span class = "navbar-title">ChalChitra</span>
        </div>
        
        <div class = "navbar-icons">
            <a href ='/'>
                <svg class="navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/></svg>
            </a>
            <a href ='/view_db'>
            <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H8V4h12v12zM12 5.5v9l6-4.5z"/></svg> 
            </a>
            <!-- <a href ='/login'>
            <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></g></svg>
            </a> -->
        </div>
    </nav>
    <main>
        <h1>begin Your awesome journey from here! :</h1>
        <form class = "signup-form" action="/signup" method="POST">
            <div class = "signup-form-field">
                <label for = "name" >Name</label>
                <input type="text" name = "name" required>
            </div>
            <div class = "signup-form-field">
                <label for="nickname">UserName</label>
                <input type="text"  name = "nickname" required>
            </div>
            <div class = "signup-form-field">
                <label for = "email" >E-mail</label>
                <input type="email" name="email" required>
            </div>
            <div class = "signup-form-field">
                <label for = "dob" >date of Birth</label>
                <input type="date" name="dob">
            </div>
            <div class = "signup-form-field">
                <label for="bio" >Bio</label>
                <input type = "text" name="bio">
            </div>
            <div class = "signup-form-field">
                <label for="password" >Password</label>
            <input type ="password" name = "password">
            </div>
            <button type = "submit" class = "signup-form-submit" value="Submit">
                Submit
            </button>
        </form>
    </main>
    <footer>
        Made with ❤ by <a href = "https://github.com/tobixoxo">Sanjeev</a> :p
    </footer>
</body>
</html>