{% extends 'base.html' %}

{% block css %}{% endblock %}

{% block title %}Signup{% endblock %}

{% block navbar_icons %}
    <a href ='/'>
        <svg class="navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/></svg>
    </a>
    <a href ='/search_movies'>
        <svg class="navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
    </a>
    <a href ='/view_db'>
    <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H8V4h12v12zM12 5.5v9l6-4.5z"/></svg> 
    </a>
{% endblock %}

{% block main %}
        <h1>Begin Your awesome journey from here! :</h1>
        <form class = "signup-form" action="/signup" method="POST">
            <div class = "signup-form-field">
                <label for = "name" >Name</label>
                <input type="text" name = "name" required>
            </div>
            <div class = "signup-form-field">
                <label for="nickname">UserName</label>
                <input type="text"  name = "nickname" required>
            </div>
            <div class = "signup-form-field">
                <label for = "email" >E-mail</label>
                <input type="email" name="email" required>
            </div>
            <div class = "signup-form-field">
                <label for = "dob" >date of Birth</label>
                <input type="date" name="dob">
            </div>
            <div class = "signup-form-field">
                <label for="bio" >Bio</label>
                <input type = "text" name="bio">
            </div>
            <div class = "signup-form-field">
                <label for="password" >Password</label>
            <input type ="password" name = "password">
            </div>
            <div class = "signup-form-button">
                <button type = "submit" class = "signup-form-submit" value="Submit">
                    Submit
                </button>
            </div>
        </form>
{% endblock %}