{% extends 'base.html' %}

{% block css %}base.css{% endblock %}

{% block title %}View Collection{% endblock %}

{% block navbar_icons %}
            <a href ='/search_movies'>
                <svg class="navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
            </a>
            <a href ='/view_db''>
            <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H8V4h12v12zM12 5.5v9l6-4.5z"/></svg> 
            </a>
            <a href ='/login'>
            <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></g></svg>
            </a>
            <a href = '/dashboard'>
                <svg class = "navbar-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M7.35,18.5C8.66,17.56,10.26,17,12,17 s3.34,0.56,4.65,1.5C15.34,19.44,13.74,20,12,20S8.66,19.44,7.35,18.5z M18.14,17.12L18.14,17.12C16.45,15.8,14.32,15,12,15 s-4.45,0.8-6.14,2.12l0,0C4.7,15.73,4,13.95,4,12c0-4.42,3.58-8,8-8s8,3.58,8,8C20,13.95,19.3,15.73,18.14,17.12z"/><path d="M12,6c-1.93,0-3.5,1.57-3.5,3.5S10.07,13,12,13s3.5-1.57,3.5-3.5S13.93,6,12,6z M12,11c-0.83,0-1.5-0.67-1.5-1.5 S11.17,8,12,8s1.5,0.67,1.5,1.5S12.83,11,12,11z"/></g></g></svg>
            </a>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <h1>Movies</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Release Year</th>
            <th>Genres</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{movie.id}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
            <td>
                {% for genre in movie.genres %}
                <span>
                    {{ genre.title }}
                    {% if not loop.last %}
                        {{", "}}
                    {% endif %}
                </span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Genres Available</h1>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Available movies</th>
        </tr>
        {% for genre in genres %}
        <tr>
            <td>{{genre.id}}</td>
            <td>{{genre.title}}</td>
            <td>
                {% for movie in genre.movies %}
                <span>
                    {{ movie.title }}
                    {% if not loop.last %}
                        {{", "}}
                    {% endif %}
                </span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>User Ratings</h1>
    <table>
        <tr>
            <th>id</th>
            <th>user_id</th>
            <th>movie_id</th>
            <th>rating</th>
        </tr>
        {% for r in ratings if count != 10 %}
        <tr>
            <td>{{r.id}}</td>
            <td>{{r.user_id}}</td>
            <td>{{r.movie_id}}</td>
            <td>{{r.rating}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}s