<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View DataBase</title>
</head>
<body>
    
    <h1>Movies</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Release Year</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{movie.id}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Genres</h1>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        {% for genre in genres %}
        <tr>
            <td>{{genre.id}}</td>
            <td>{{genre.name}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Content Genre</h1>
    <table>
        <tr>
            <th>id</th>
            <th>movie id</th>
            <th>genre id</th>
        </tr>
        {% for mg in movie_genre %}
        <tr>
            <td>{{mg.id}}</td>
            <td>{{mg.movie_id}}</td>
            <td>{{mg.genre_id}}</td>
        </tr>
        {% endfor %}
    </table>
   

    <h1>User Ratings</h1>
    <table>
        <tr>
            <th>id</th>
            <th>user_id</th>
            <th>movie_id</th>
            <th>rating</th>
        </tr>
        {% for r in ratings if count != 10 %}
        <tr>
            <td>{{r.id}}</td>
            <td>{{r.user_id}}</td>
            <td>{{r.movie_id}}</td>
            <td>{{r.rating}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>