.index-phrase{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* outline: red solid; */
}
.index-phrase-word{
    font-weight: bolder;
    font-size: 13vw;
    margin : 35px 20px;
    text-align: center;
}

.index-phrase-offer{
    text-align: center;
    font-size: 2vw;
    font-style: italic;
}
